.game-board {
  display: grid;
  justify-self: center;
  gap: 15px;

  padding: 0px 100px 30px 100px;
  &__8-cards {
    grid-template-columns: repeat(4, minmax(150px, 180px));
    grid-auto-rows: 50%;
  }
  &__12-cards {
    grid-template-columns: repeat(4, minmax(120px, 150px));
    grid-auto-rows: 33%;
  }
  &__16-cards {
    grid-template-columns: repeat(4, minmax(120px, 150px));
    grid-auto-rows: 33%;
  }
}
