.gamecard {
  display: flex;
  flex-direction: column;
  background: #e2e2e2;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
  &__snapshot {
    height: 200px;
    background-color: black;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
  }
  &__title {
    margin: 0px;
    padding: 10px;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: column;

    &-item {
      text-align: center;
      align-content: center;
      margin: 5px 0px;
    }
  }
  &__buttons {
    height: 40px;
    display: flex;
    border-radius: 0 0 1rem 1rem;
    .info,
    .play {
      font-size: 20px;
      border: 0;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      width: 50%;
      color: white;
    }
    .play {
      border-radius: 0 0 1rem 0;
      background-color: #46b86a;
    }
    .info {
      background-color: #47c6c6;
      border-radius: 0 0 0 1rem;
    }
  }
}
