.modal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);

  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
  &__article {
    max-height: 70%;
    width: 70%;
    padding: 20px;
    background: #e2e2e2;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
  }
  &__title {
    margin: 0px;
    padding: 10px;
    text-align: center;
  }
}
