.game-screen {
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 90%;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 100px;
  background-color: rgba($color: red, $alpha: 0.05);
}

.card {
  &__hidden {
    background-color: green;
  }
  &__flipped {
    background-color: red;
  }
}
