.navbar {
  display: grid;
  grid-template-columns: 220px auto 168px;
  height: 96px;
  flex-shrink: 0;
  padding: 0px 80px;
  background: var(--secondary_color, #94b6b6);

  &__cta {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
    font-size: 24px;
  }
  &__logo {
    padding-left: 0px;
    font-size: 32px;
  }
  &__sections {
    display: flex;
    flex-direction: row;
  }
}
