.quick-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .color-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .color-card {
      width: 100px;
      height: 100px;
    }
  }
}
