@import './styles/main.scss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  body {
    margin: 0;
  }
}

.App {
  display: grid;
  grid-template-rows: 100px auto 200px;
  min-height: 120vh;
  .navbar {
  }
  .app-content {
  }
  .footer {
  }
}
