@import './styles/main.scss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  body {
    margin: 0;
  }
}

.App {
  display: flex;
  flex-direction: row; // Para que el contenido se alinee horizontalmente (Navbar a la izquierda)
  background-color: yellow;
  height: 100vh; // Asegurarse de ocupar toda la altura de la ventana
  width: 100vw;
}
